<div class="navbar sticky-top2 navbar-logo"> <a class="navbar-brand" href="/home"><mat-icon aria-hidden="false" aria-label="Example home icon">health_and_safety</mat-icon>
  Clinic Manager App</a>
</div>
<nav *ngIf="authenticationService.isUserLoggedIn()" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <button *ngIf="authenticationService.isUserLoggedIn()" mat-icon-button (click)="onToggleSidenav()">
    <mat-icon class="menu">menu</mat-icon>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" *ngIf="authenticationService.isUserLoggedIn()" href="/doctors">  <mat-icon class="icon">person</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authenticationService.isUserLoggedIn()" href="/patients"> <mat-icon class="icon2">family_restroom</mat-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authenticationService.isUserLoggedIn()" href="/reservation"> <mat-icon class="icon3">insert_invitation</mat-icon></a>
      </li>
    </ul>
    <a class="nav-link" *ngIf="authenticationService.isUserLoggedIn()" href="/logout">
      <mat-icon class="icon1">drive_eta</mat-icon>
    </a>
  </div>
</nav>
