<div class="my-nav">

  <nav *ngIf="authenticationService.isUserLoggedIn()" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <button *ngIf="authenticationService.isUserLoggedIn()" mat-icon-button (click)="onToggleSidenav()">
      <mat-icon class="menu">menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item ">
          <a class="nav-link" *ngIf="authenticationService.isRoleAdmin()" routerLink="/doctors">
            <mat-icon>person</mat-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authenticationService.isRoleAdmin()" routerLink="/patients">
            <mat-icon>family_restroom</mat-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authenticationService.isRoleAdmin()" routerLink="/medicines">
            <mat-icon>medication</mat-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/reservations">
            <mat-icon>insert_invitation</mat-icon>
          </a>
        </li>
      </ul>
      <a class="nav-link" *ngIf="authenticationService.isUserLoggedIn()" routerLink="/logout">
        <mat-icon>logout</mat-icon>
      </a>
    </div>
  </nav>

</div>
