.sticky-top {
  z-index: 1;

}

button {
  outline: 0;
}

.nav-link {
  padding-left: 20px!important;
  padding-right: 20px!important;
  color: #ffffff !important;
  width: 60px;
  text-align: center;
}
.navbar-nav{
  margin-top: 20px;
}


.sticky-top {
  position: fixed;
  width: 100%;
  z-index: 4;
   background-color: #5ca6b2  !important;
}


.nav-link:hover {
  background-color: #5fabb7;
}
