.sticky-top {
  z-index: 1;

}

button {
  outline: 0;
}

.navbar-logo {

  margin-left: 0;
  background: rgb(24, 73, 103);
  background: linear-gradient(90deg, rgb(80, 150, 189) 0%, rgb(29, 112, 164) 62%, rgb(9, 76, 112) 100%);
}

.nav-link {
  padding-left: 20px!important;
  padding-right: 20px!important;
  color: #ffffff !important;
  border-right: 1px solid white;
  width: 120px;
  text-align: center;
}

.icon {
  font-size: 18px;
  color: #04fdc2;
}

.icon2 {
  font-size: 18px;
  color: #ffb9b9;
}

.icon3 {
  font-size: 18px;
  color: #00c2ff;
}

.iconLogout {
  font-size: 22px;
  color: white;
}

.navbar-brand {
  letter-spacing: 4px;
  color: white;

}

.sticky-top {
  position: fixed;
  top: 46px;
  width: 100%;
  z-index: 4;
  background: rgb(24, 73, 103);
  background: linear-gradient(90deg, rgb(80, 150, 189) 0%, rgb(29, 112, 164) 62%, rgb(9, 76, 112) 100%);
}

.sticky-top2 {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;

}

.menu {
  color: white;
}

.date {
  color: white;
  font-size: 20px;
}

.nav-link:hover {
  background-color: #219bc7;
}
