<div class="container">

  <div class="form-inline">
    <button class="add-icon" mat-raised-button (click)="onCreate()">
      <mat-icon >person_add_alt</mat-icon>
    </button>
  </div>

  <div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput (keyup)="applyFilter($event)" placeholder="Szukaj" autocomplete="off">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="Zdjęcie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td  mat-cell class="imageTd" *matCellDef="let element"  (click)="show(element)"><img  class="image" src="/assets/images/medical_tablet.png"></td>
    </ng-container>

    <ng-container matColumnDef="Nazwa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa</th>
      <td mat-cell *matCellDef="let element" (click)="show(element)"
          data-label="Nazwa"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Producent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Producent</th>
      <td mat-cell *matCellDef="let element" (click)="show(element)"
          data-label="Producent"> {{element.producer}} </td>
    </ng-container>
    <ng-container matColumnDef="Dawka">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dawka</th>
      <td mat-cell *matCellDef="let element" (click)="show(element)"
          data-label="Dawka"> {{element.dose}} mg </td>
    </ng-container>
    <ng-container matColumnDef="Opakowanie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Opakowanie</th>
      <td mat-cell *matCellDef="let element" (click)="show(element)"
          data-label="Opakowanie"> {{element.packet}} sztk.</td>
    </ng-container>
    <ng-container matColumnDef="Cena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena</th>
      <td mat-cell *matCellDef="let element" (click)="show(element)"
          data-label="Cena"> {{element.price}} zł</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td class="buttonTd" mat-cell *matCellDef="let element; let row">
        <a [matMenuTriggerFor]="menu" mat-button matSuffix mat-stroked-button aria-label="search">
          <img class="imageEdit" src="assets/images/edit.png">
        </a>

        <mat-menu #menu="matMenu">
          <button (click)="onEdit(element)" mat-menu-item>
            <i class="fa fa-edit"></i>
            Edytuj
          </button>
          <button (click)="onRemove(element)" mat-menu-item>
            <i class="fa fa-trash"></i>
            Usuń
          </button>
        </mat-menu>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index columns: displayedColumns"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons></mat-paginator>
</div>
