<div *ngIf="reservation" class="container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><img class="mat-card-avatar-img imageVisit"
                                src="/assets/images/waiting_room.png"
                                alt="visit avatar">
      </div>
      <mat-card-title>{{visit}}</mat-card-title>
      <mat-card-subtitle>{{reservation.patient.name}} {{reservation.patient.surname}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <span class="property"><img  class="image" src="/assets/images/doctor-avatar.png"> {{ doctorPersonal}}</span>
          <app-doctor-personal-data [doctor]="doctor"></app-doctor-personal-data>
        </div>
        <div class="col">
          <span class="property"><img  class="image" src="/assets/images/patient_information.png"> {{ patientPersonal}}</span>
          <app-patient-personal-data [patient]="patient"></app-patient-personal-data>
        </div>
        <div class="col-12">
          <span class="property"><img class="image" src="/assets/images/medical_history.png"> {{ visitDetails}}</span>
          <app-reservation-detail-info [reservation]="reservation"></app-reservation-detail-info>
          <span class="property"><img class="image"
                                      src="/assets/images/sthetoscope.png"> {{ doctorDescription}}</span>

          <app-reservation-doctor-description
            [(description)]="visitDescription" [reservation]="reservation"></app-reservation-doctor-description>
          <span class="property"><img class="image" src="/assets/images/medical_tablet.png"> {{ medicines}}</span>
          <form *ngIf="reservation.status =='Zaplanowana'" class="example-form">
            <mat-form-field class="w-50 " >
              <mat-label>Wybierz lekrastwa</mat-label>
              <mat-select [formControl]="myControl" multiple >
                <mat-option *ngFor="let medicine of medicinesList" #matOption (click)="addMedicines(matOption.value, matOption.selected)" [value]="medicine">{{medicine.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <app-reservation-medicines  [medicinesList]="selectedMedicines"></app-reservation-medicines>
        </div>
      </div>


    </mat-card-content>
    <mat-card-actions>

            <button *ngIf="reservation.status =='Zaplanowana'" class="add-icon" (click)="accept()"
                    mat-raised-button>
              Zatwierdź
            </button>

    </mat-card-actions>
  </mat-card>

</div>
