<div *ngIf="patient" class="container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><img class="mat-card-avatar-img image"
                                src="https://raw.githubusercontent.com/ArunSoodGit/rent-car-application/master/src/assets/avatar.png">
      </div>
      <mat-card-title>{{patient.name}}</mat-card-title>
      <mat-card-subtitle>{{patient.surname}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div class="row">
        <div class="col-md-12 col-xl-6">
          <span class="property"><img  class="image" src="/assets/images/patient_information.png"> Dane osobowe</span>
          <ul class="list-group ">
            <li class="list-group-item">Pesel: <span class="property">{{patient.pesel}}</span></li>
            <li class="list-group-item">Imię: <span class="property">{{patient.name}}</span></li>
            <li class="list-group-item">Nazwisko: <span class="property">{{patient.surname}}</span></li>
            <li class="list-group-item">Nr telefonu: <span class="property">{{patient.phone}}</span></li>
          </ul>
        </div>
        <div class="col-md-12 col-xl-6">

          <span class="property"><img  class="image" src="/assets/images/medical_history.png"> Historia wizyt</span>

          <ul *ngFor="let reservation of reservations" class="list-group" (click)="showVisit(reservation)">
            <li class="list-group-item rentals">

              <ul class="list-group ">
                <li class="list-group-item">Numer rezerwacji: <span
                  class="property"> {{reservation.id}}</span></li>
                <li class="list-group-item">Data: <span class="property">{{reservation.visitDate |date}}</span>
                </li>
                <li class="list-group-item">Pacjent: <span
                  class="property">{{reservation.patient.name}} {{reservation.patient.surname}}</span></li>
                <li class="list-group-item">Status: <span class="property">{{reservation.status}}</span></li>
              </ul>

            </li>
          </ul>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

</div>
