<button mat-mini-fab mat-raised-button class="close-button" [mat-dialog-close]="true">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>
  <h1 class="title"> Dodaj Lekarza</h1>
</div>
<div mat-dialog-content>
  <form #carForm="ngForm" (ngSubmit)="carForm.form.valid && onSubmit(doctor)" class="example-form">
    <mat-form-field class="element">
      <mat-label>Imię</mat-label>
      <input type="text" matInput placeholder="Imię" [(ngModel)]="doctor.name" name="name"
             required="true">
    </mat-form-field>

    <mat-form-field class="element2">
      <mat-label>Nazwisko</mat-label>
      <input type="text" matInput placeholder="Nazwisko" [(ngModel)]="doctor.surname" name="surname" required="true">

    </mat-form-field>
    <mat-form-field class="element">
      <mat-label>Numer telefonu</mat-label>
      <input type="text" matInput placeholder="Numer telefonu" [(ngModel)]="doctor.phone"
             name="phone" required="true">

    </mat-form-field>

    <mat-form-field class="element2">
      <mat-label>Specjalizacja</mat-label>
      <mat-select [(ngModel)]="specialization.name" name="specialization" required="true">
        <mat-option *ngFor="let specialization of specializations" [value]="specialization">
          {{specialization}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="element2">
      <mat-label>Gabinet</mat-label>
      <input type="number" matInput placeholder="Numer gabinetu" [(ngModel)]="room.number"
             name="room" required="true">

    </mat-form-field>

  </form>
</div>

<button mat-raised-button class="create" (click)="onSubmit(doctor)" [disabled]="!carForm.form.valid">
  Zapisz
</button>
